# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store

# Cache files
._*
.Spotlight-V100
.Trashes
Icon?

# Tmux directories
tmux/resurrect
tmux/plugins

# Nvim file
nvim/lua/config/mine.lua
